.interna-portfolio {
    background: url("../images/bg-portfolio.jpg") center no-repeat;
    background-size: cover;
}

.quote-clientes {
    padding: 60px 0;
    max-width: 460px;
    margin: 0 auto;
}

.quote-clientes p {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
    line-height: 25px;
    font-style: italic;
    padding-bottom: 15px;
}

.quote-clientes cite {
    font-size: 18px;
    font-weight: bold;
    font-style: normal;
    float: right;
}