.interna-sobre {
    background: url("../images/bg-sobre.jpg") center no-repeat;
    background-size: cover;
}

.missao-sobre {
    padding-top: 60px;
}

.missao-sobre img {
    padding-top: 20px;
}

.missao-sobre ul {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
    line-height: 30px;
}

.missao-sobre p {
    font-size: 18px;
    line-height: 25px;
    margin-bottom: 1em;
    padding-right: 60px;
}